<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Coffee Chat Rolodex</h1>

    <!-- Add person Button -- Modal popup with the form-->
    <!-- Form :
    Name
    email
    Date added
    company
    spark -->
    <div class="container">
      <% for(let i = 0; i < persons.length; i++) {%>
        <div class="mySlides fade">
          <div class="numbertext"><%=i+1%> / <%=persons.length%></div>
            <section class="cards">
              <h3 class="text name">Name: <%=persons[i].name%></h3>
              <h3 class="text email">Email: <%=persons[i].email%></h3>
              <h3 class="text company">Company: <%=persons[i].company%></h3>
              <h3 class="text dateAdded">Date Added: <%=persons[i].dateAdded%></h3>
              <h3 class="text spark">Spark: <%=persons[i].spark%></h3>
              <button class="update-btn" id="updateBtn" aria-label="Update" data-edit=<%= persons[i].uuid%>><i class="fa fa-pencil-square-o" aria-hidden="true" title="Update this card"></i></button>
              <button class="delete-btn" id="deleteBtn" aria-label="Delete" data-delete=<%= persons[i].uuid%>><i class="fa fa-trash" aria-hidden="true" title="Delete this card"></i></button>
            </section>
        </div>
      <% } %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <h2> Add Person </h2>
      <section class="form cards container">
        <form action="/persons" method="POST">
          <label> 
            Name:
            <input type="text" name="name" placeholder="Name">
          </label>
          <label> 
            Email: 
            <input type="text" name="email" placeholder="Email">
          </label>
          <label> 
            Company:
            <input type="text" name="company" placeholder="Company">
          </label>
          <label> 
            Date Added: 
            <input type="date" name="dateAdded">
          </label>
          <label> 
            Spark: 
            <input type="text" name="spark" placeholder="Spark">
          </label>
          <button id="clickMe" type="submit">Add Person</button>
        </form>
      </section>

    <div class="modal hidden" id="updateModal"></div>
    <br>
    <script src="js/main.js"></script>
  </body>
</html>
